{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@config": "./src/config",
          "@connections": "./src/connections",
          "@db": "./src/db",
          "@graphql": "./src/graphql",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
