# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variables file
.env
.env.test

# Jest
coverage/

# yarn v2
node_modules/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# GCP
src/config/files/mid-main-b07764eb2e37.json

# Husky
.husky/

# Jetbrains
.idea